@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin-left: 5%;
	margin-right: 5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #656565;
}

#header {
	height: 110px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

#header p {
	font-size: 52px;
	color: #000;
}

#map { 
	/*height: 800px;*/
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

#column {
	position: absolute;
	top: 0;
	left: 0;
	width: 295px;
}

#logo {
	background-color: #fff;
	border: 5px solid #656565;
	border-radius: 5px;
	padding: 10px;
}

#timelinePics {
	background-color: #fff;
	border: 5px solid #656565;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	min-height: 400px;
	max-height: 600px;
	overflow: auto;
}

#timelinePics .pic {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dotted #656565;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#timelinePics .pic img {
	float: left;
	width: 100px;
	height: 100px;
}

#timelinePics .right {
	float: left;
	margin-left: 5px;
	width: 140px;
	font-size: 12px;
}

#timelinePics .user {
	font-size: 13px;
	margin-bottom: 4px;
	font-weight: bold;
}


#footer {
	background-color: #fff;
	border: 5px solid #656565;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}


#timeline {
	float: left;
}

#timeline .photo {
	float: left;
	background-color: #A0A0A0;
	padding: 5px 5px 40px 5px;
	margin: 0 10px 20px 0;
	border-radius: 5px;
}

#timeline .photo img {
	width: 200px;
	height: 200px;
}
